* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2b582c ;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-frame {
    max-width: 400px;
    padding: 3rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    width: 12rem;
    padding: .7rem;
    background-color: #2b5f2b;
    color: #fff;
    border: 1px spolid #121612;
    border-radius: 15px;
    cursor: pointer;
}

#app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

/* NAVIGATION */

nav {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
  }
  
  .nav-container {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    
  }
  
  .search {
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
  }
  
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
  }
  
  .logo {
    font-size: 1rem;
    font-weight: 600;
    color: #d3d2d4;
  }
  
  .logo span {
    color:  #FD7E14;
  }
  
  .hamburger-menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
    }
    
    .hamburger-menu span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #d3d2d4;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
    }
  
  
    
    
    .hamburger-menu.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger-menu.active span:nth-child(2) {
      opacity: 0; 
    }
    
    .hamburger-menu.active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    @media screen and (max-width: 768px) {
        .main-container{
        padding: 20px;
        }
    
        .nav-container {
        padding: 0 40px;
        }
    
        .block-container {
        padding: 20px;
        margin: 20px 0;
        }
    
        #hero,
        #contact {
          height: auto;
        }
    
        .hero-content {
          margin-top: 120px;
        }
    
        .cube-container,
        .search {
        display: none;
        }
    
        .hamburger-menu {
        display: flex;
        }
    
    
        h1 {
        font-size: 2.2rem;
        line-height: 55px;
        }
    
        h2 {
        font-size: 1.8rem;
        line-height: 45px;
        }
      nav ul {
        display: none;
      }
    
      nav ul li {
        margin-right: 0;
      }
    
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }
    
    
        /* Hide the menu in mobile view */
    .nav-menu {
        display: flex;
        flex-direction: column; 
        position: absolute;
        top: 40px; 
        left: 0;
        right: 0;
        background-color: black; 
        padding: 1rem;
        opacity: 0; /* Initially hidden */
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
      
      .nav-menu.show {
        transform: translateY(0); /* Slide it into view */
        opacity: 1; /* Make it visible */ 
      }
      
      .nav-menu li {
        margin: 10px 25px; 
      }
      
      .nav-menu a {
        font-size: 14px;
        color: #d3d2d4;
        text-decoration: none;
      }
    
    
    
      
     
      
      
    
    }