* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000 ;
}

h1 {
  color: #fff;
}

h2 {
  color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#login-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
 
}

.login-bg {
  width: 50%;
 position: relative; /* Required for positioning the pseudo-element */
 overflow: hidden; /* Prevents blur overflow */
 height: 100%;
}

.login-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('images/pexels-liza-summer-6347720.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px); /* Apply the blur here */
  z-index: -1; /* Place it behind the content */
}


.login-frame {
    width: 50%;
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.google-button {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #333, #222);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, box-shadow 0.3s;
  width: 260px;
  justify-content: center;
}

.google-button i {
  font-size: 18px;
  margin-right: 10px;
  color: #fff;
}

.google-button:hover {
  background: linear-gradient(to right, #444, #333);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.login-header {
  width: 330px;
  padding: 0 25px;
}

.login-header h1 {
  text-align: left;
}

#app-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;
}
.form-label {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

/* Overlay that covers entire screen */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* should be on top of everything */
}

/* Actual spinner */
.spinner {
  width: 70px;
  height: 70px;
  border: 8px solid #ffffff; /* light color */
  border-top: 8px solid #FD7E14; /* accent color for the spinning part */
  border-radius: 50%;
  animation: spin 1s linear infinite; 
}

/* The spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* NAVIGATION */

nav {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: .7rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
  }
  
  .nav-container {
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .search {
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
  }
  
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
  }
  
  .logo {
    font-size: 1rem;
    font-weight: 600;
    color: #d3d2d4;
  }
  
  .logo span {
    color:  #FD7E14;
  }
  
  .hamburger-menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
    }
    
    .hamburger-menu span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #d3d2d4;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
    }
  
  
    
    
    .hamburger-menu.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger-menu.active span:nth-child(2) {
      opacity: 0; 
    }
    
    .hamburger-menu.active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    @media screen and (max-width: 768px) {
        .main-container{
        padding: 20px;
        }

        .login-bg {
          display: none;
        }
    
        .nav-container {
        padding: 0 40px;
        }
    
        .hamburger-menu {
        display: flex;
        }
    
    h2 {
        font-size: 1.2rem;
    }
        
      nav ul {
        display: none;
      }
    
      nav ul li {
        margin-right: 0;
      }
    
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }
    
    
        /* Hide the menu in mobile view */
    .nav-menu {
        display: flex;
        flex-direction: column; 
        position: absolute;
        top: 40px; 
        left: 0;
        right: 0;
        background-color: black; 
        padding: 1rem;
        opacity: 0; /* Initially hidden */
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
      
      .nav-menu.show {
        transform: translateY(0); /* Slide it into view */
        opacity: 1; /* Make it visible */ 
      }
      
      .nav-menu li {
        margin: 10px 25px; 
      }
      
      .nav-menu a {
        font-size: 14px;
        color: #d3d2d4;
        text-decoration: none;
      }
    
    }

    #grouped-expense-list > ul > li{
        padding: .3rem;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none; /* optional: remove bullets */
      }
      
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        color: #ffffff;
      }
      
      /* The text (span) can flex to take up remaining space */
      li span {
        flex: 1;
      }
      
      /* Optional spacing for checkbox and button */
      li input[type="checkbox"] {
        margin: 0 1rem;
      }
      li button {
        /* or .btn-sm if using Bootstrap classes */
        margin-left: 1rem;
      }